body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

#app {
  margin: 0;
}

@font-face {
  font-family: 'feixen';
  src: url('../assets/font/studio-feixen-sans-variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Brico';
  src: url('../assets/font/BricolageGrotesque.ttf');
}

* {
  font-family: feixen;
}
.feixen {
  font-family: feixen;
  font-variation-settings:
    'wght' 500,
    'wdth' 125;
}
.feixen-short {
  font-family: feixen;
  font-variation-settings:
    'wght' 500,
    'wdth' 115;
}

.brico {
  font-family: Brico;
}


@media only screen and (max-width: 600px) {
  body, html{
    background-color:#fffaf1;
  }

  html{
    height: available;
    max-height: available;
  }
  @supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      min-height: available;
    }
  }
}
